.box-one {
  background-color: lightblue;
  border: 5px double Tomato;
}

.box-two {
  background-color: yellow;
  border: 2px solid DodgerBlue;
  border-radius: 15px; /* 圓角效果 */
}

.box-three {
  background-color: MediumSeaGreen;
  border: 10px dotted Gray;
}

.box-one, .box-two, .box-three {
  padding: 10px;
  margin-bottom: 10px;
}